body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0f172a;
font-family:Poppins,sans-serif;
}

.success-card{
background:#1e293b;
padding:50px;
width:600px;
border-radius:20px;
text-align:center;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.tick{
width:90px;
height:90px;
line-height:90px;
border-radius:50%;
background:#22c55e;
font-size:50px;
margin:auto;
margin-bottom:20px;
}

.home-btn{
display:inline-block;
margin-top:25px;
padding:14px 30px;
background:#ff6b35;
color:white;
text-decoration:none;
border-radius:10px;
}